@import './../variables/standards.scss';


.login-from-wrapper{
    background: $mainbackground;
    width: 100%;
    height: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-from-body{    
    width: 40%;
    padding:10vh 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 2px;

}

.registration-form-wrapper{
    width: fit-content;
    height: fit-content; 
}